/*html*/
html{
  font-family: 'Questrial', sans-serif;
  margin:0;
  padding:0;
  box-sizing:border-box;
  background-color:none;
}

*,*::before, *::after{
  box-sizing:inherit;
}

.topp {
  background-image: url("../img/checkerbanner.jpg");
  background-image:repeat;
  padding-top:7rem;
  width:100%;
}

/*h1*/
h1 {
  padding:0;
  margin:0;
}

/*body*/
body {
  margin:0;
  padding:0;
}

/*-----------------nav*/

/nav {
    width: 100%;
    background: #f0f0f0;
    border-right: none;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    float: left;
    text-align: center;
    width: 25%;
    color: grey;
    font-size: 1em;
}

nav ul li:first-child {
    border-left: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #616161;
    padding: 10px 0;
}

/*nav {
  background-color: #fcefd3;
  width: 100%;
  border-right: none;
}

nav ul {
  list-style:none;
  width: 800px;
  display:inline;
  box-sizing: border-box;
  overflow: hidden;
  color: black;
  font-size: 0.5em;
  padding:0;
  text-align:center;
  margin:0;
  overflow: hidden;
}

}

nav ul li {
    list-style: none;
    float: left;
    text-align: center;
    width: calc(100% / 4);

  }

nav ul li:first-child {
      border-left: none;
  }

nav ul li a {
      display: block;
      text-decoration: none;
      color: white;
      padding: 10px 0;
  }

/*nav ul {
  list-style:none;
  width: 800px;
  display:inline;
  box-sizing: border-box;
  overflow: hidden;
  color: black;
  font-size: 0.5em;
  padding:0;
  text-align:center;
  margin:0;
}

nav li {
  float:left;
  width:100%;
}

nav a {
  color: #fff;
  display:inline;
  text-decoration:none;
  color:black;
}

a:hover {
  color: white;
  background-color: #fee2a5;
}*/

/*-------------main*/

/*.firstimg {
  overflow:hidden;
  padding:0;
  margin:0;
  width:200%;
}*/

main {
  margin:0;
  padding:0;
}

.br {
  margin:0;
  padding:0;
  width:100%;
  position: relative;
  overflow:hidden;
}

.breakfast {
  width:100%
}

.break {
  position: relative;
  bottom:40px;
  text-align:center;
  font-size:1.5rem;
  color: white;
}

.greyfig {
  position:relative;
  text-align:center;
  font-size:1.25rem;
  padding-bottom:2em;
  margin:0em 1em 0em 1em;
}


/*menu*/

.menu h2 {
  padding-top:1rem;
  padding-bottom:1rem;
  margin:0;
  background-color: #fee2a5;
  text-align:center;
  font-size:2rem;
  bottom:4rem;
}

.menu {
  padding:0;
  margin:0;
}

/*br menu*/

.brmenu {
  margin:0;
  padding:0;
  position:relative;
}

.breakfast1 {
  width:50%;
  margin: 0.3em 0.3em 0em 0.3em;
  float:left;
  clear: both;
  font-size: 2em;
}

.breakfastfig1 {
  position: relative;
  padding-top: 0.3em;
  margin:0;
  font-size: 1.3em;
}

.breakp {
  color:grey;
  position: relative;
  font-size: 1rem;
  margin:1em 0em 0em 0em;
}

/*cheese*/

.cheese {
  margin-top:0em;
  padding:0;
  position:relative;
}

.secondimg {
  width:50%;
  margin: 0em 0.3em 0.3em 0.3em;
  float:left;
  clear: both;
  font-size: 2em;
}

.cheesburger1 {
  position: relative;
  margin:0.6em 0em 0em 0em;
  font-size: 1.3em;
}

.cheesep {
  color:grey;
  position: relative;
  font-size: 1rem;
  margin:1em 0em 0em 0em;
}

/*breakfast*/

.bf h2 {
  padding-top:1rem;
  padding-bottom:1rem;
  margin:0.3em 0em 0.3em 0em;
  background-color: lightgrey;
  text-align:center;
  font-size:2rem;
  bottom:4rem;
}

.french {
  position: relative;
  display:block;
  float:left;
  margin:0.6em 2em 0em 0em;
  font-size: 1.3em;
}

.french1 {
  color:grey;
  position: relative;
  font-size: 1rem;
  margin: 1.2em 0em 0em 0em;

}

.west {
  position: relative;
  margin:0.6em 0em 0em 0em;
  font-size: 1.3em;
}

.west1 {
  color:grey;
  position: relative;
  font-size: 1rem;
  margin:0em;
}

.lumberjack {
  position: relative;
  margin:0.6em 0em 0em 0em;
  font-size: 1.3em;
}

.lumberjack1 {
  color:grey;
  position: relative;
  font-size: 1rem;
  margin:0em;
}


/*lunch*/

.lunch h2 {
  padding-top:1rem;
  padding-bottom:1rem;
  margin:0.3em 0em 0.3em 0em;
  background-color: #fee2a5;
  text-align:center;
  font-size:2rem;
  bottom:4rem;
}

.yummy {
  position: relative;
  margin:0.6em 0em 0em 0em;
  font-size: 1.3em;
}

.yummy1 {

}

.chicken {
  position: relative;
  margin:0.6em 0em 0em 0em;
  font-size: 1.3em;
}

.chicken1 {

}

.smoked {
  position: relative;
  margin:0.6em 0em 0em 0em;
  font-size: 1.3em;
}

.smoked1 {

}

/*Location*/

.location h2 {
  padding-top:1rem;
  padding-bottom:1rem;
  margin:0.3em 0em 0.3em 0em;
  background-color: lightgrey;
  text-align:center;
  font-size:2rem;
  bottom:4rem;
}

/*Contact*/

.contactus h2 {
  padding-top:1rem;
  padding-bottom:1rem;
  margin:0.3em 0em 0.3em 0em;
  background-color: #fee2a5;
  text-align:center;
  font-size:2rem;
  bottom:4rem;
}

/*hours*/

.hours h2 {
  padding-top:1rem;
  padding-bottom:1rem;
  margin:0.3em 0em 0.3em 0em;
  background-color: lightgrey;
  text-align:center;
  font-size:2rem;
  bottom:4rem;
}
