/*html*/
html{
  font-family: 'Questrial', sans-serif;
  margin:0;
  padding:0;
  box-sizing:border-box;
}

*,*::before, *::after{
  box-sizing:inherit;
}

.topp {
  background-image: url("../img/checkerbanner.jpg");
  padding-top:3rem;
  width:100%;
}

.logo {
  /*padding-top:4rem;*/
  float: left;
  clear: both;
  width:30%;
  padding: 0em;
  margin: 0em;
  bottom: 40px;
  position: relative;
}

/*body*/
body {
  margin:0;
  padding:0;
}

/*-----------------nav*/

nav {
    width: 100%;
    clear: both;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    float: left;
    text-align: center;
    width: 25%;
    color: grey;
    font-size: 0.4em;
}

nav ul li:first-child {
    border-left: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #616161;
    padding: 10px 0;
}

a:hover {
  color: white;
  background-color: #fee2a5;
}

/*-------------main*/

/*.firstimg {
  overflow:hidden;
  padding:0;
  margin:0;
  width:200%;
}*/

main {
  margin:0;
  padding:0;
  clear: both;
}

.br {
  margin:0;
  padding:0;
  width:100%;
  position: relative;
  overflow:hidden;
  clear: both;
}

.breakfast {
  width:100%
}

.break {
  position: relative;
  bottom:35px;
  text-align:center;
  font-size:1.5rem;
  color: white;
  margin: 0em 0.3em 0.5em 0.3em;
}

.greyfig {
  position:relative;
  text-align:center;
  font-size:1.25rem;
  padding-bottom:0.3em;
  margin:-1.25em 0.3em 1em 0.3em;
}

.breakgroup {
  margin:0;
}

/*menu*/

.menu h2 {
  padding-top:1rem;
  padding-bottom:1rem;
  margin:0;
  background-color: #fee2a5;
  text-align:center;
  font-size:2rem;
  bottom:4rem;
}

.menu {
  padding:0;
  margin:0;
}

/*br menu*/

.brmenu {
  margin:0;
  padding:0;
  position:relative;
}

.breakfast1 {
  width:40%;
  margin: 0.3em 0.3em 0.3em 0.3em;
  float:left;
  clear: both;
  font-size: 2em;
}

.breakfastfig1 {
  position: relative;
  padding-top: 0.3em;
  margin:0;
  font-size: 1.3em;
}

.breakp {
  color:grey;
  position: relative;
  font-size: 1.1rem;
  margin:0.3em 0.3em 0em 0em;
}

.breakprice {
  color: black;
  float: right;
  margin: 0;
  font-size: 1.1rem;

}

/*cheese*/

.cheese {
  margin-top:0em;
  padding:0;
  position:relative;
}

.secondimg {
  width:40%;
  margin: 0em 0.3em 0.3em 0.3em;
  float:left;
  font-size: 2em;
}

.cheesburger1 {
  position: relative;
  margin:1.3em 0em 0em 0em;
  font-size: 1.3em;
}

.cheesep {
  color:grey;
  position: relative;
  font-size: 1.1rem;
  margin:0.3em 0.3em 0.1em 0em;
}

.cheeseprice {
  color: black;
  float: right;
  margin:0em 0.3em 1em 0em;
  font-size: 1.1rem;

}

/*breakfast*/
.bf h2 {
  padding-top:1rem;
  padding-bottom:1rem;
  margin: 0.3em 0em 0em 0em;
  background-color: lightgrey;
  text-align:center;
  font-size:2rem;
  bottom:4rem;
  clear:both;
}

.bf p {
  font-size: 1.3em
}

.test {
  margin:0.5em 0.3em 0em 0.3em;
  padding:0;
  float: left;
}

.tests {
  margin: 0em 3em 0em 0.3em;
  color: grey;
  clear: both;
}

.testp {
  margin:0em 0.3em 0.5em 0.3em;
  float:right;
  position: relative;
  bottom: 20px;
}



.test2 {
  margin:0.5em 3em 0em 0.3em;
  color: black;
  clear:both;
}

.testwest {
  margin: 0em 3em 0em 0.3em;
  color: grey;
  clear: both;
}

.test2p {
  margin:0em 0.3em 0.3em 0.3em;
  float:right;
  position: relative;
  bottom: 20px;
}



.test3 {
  margin:0.5em 0.3em 0em 0.3em;
  padding:0em;
  clear: both;
}

.testlumber {
  margin: 0em 3em 0em 0.3em;
  color: grey;
  clear: both;
}

.test3p {
  margin:0em 0.3em 0em 0.3em;
  float:right;
  position: relative;
  bottom: 20px;
}

/*lunch*/

.lunch h2 {
  padding-top:1rem;
  padding-bottom:1rem;
  margin: 0em;
  background-color: #fee2a5;
  text-align:center;
  font-size:2rem;
  bottom:4rem;
  clear: both;
}

.lunch {
  margin:0;
  padding:0em;
}

.lunch p {
  font-size: 1.3em
}

.yummy {
  margin:0.5em 0.3em 0em 0.3em;
  padding:0;
  float: left;
}

.yummywith {
  margin: 0em 3em 0em 0.3em;
  color: grey;
  clear: both;
}

.yummy1 {
  margin:0em 0.3em 0em 0.3em;
  float:right;
  position: relative;
  bottom: 20px;
}



.chicken {
  margin:0.5em 0.3em 0em 0.3em;
  padding:0em;
  clear:both;
}

.chickenwith {
  margin: 0em 3em 0em 0.3em;
  color: grey;
  clear: both;
}

.chicken1 {
  margin:0em 0.3em 0em 0em;
  float:right;
  position: relative;
  bottom: 20px;
}



.smoked {
  margin:0em 0.3em 0em 0.3em;
  padding:0em;
  clear: both;
}

.smokedwith {
  margin: 0em 3em 0em 0.3em;
  color: grey;
  clear: both;
}

.smoked1 {
  margin:0em 0.3em 0em 0.3em;
  float:right;
  position: relative;
  bottom: 20px;
}

/*Location*/

.location h2 {
  padding-top:1rem;
  padding-bottom:1rem;
  margin: 0em;
  background-color: lightgrey;
  text-align:center;
  font-size:2rem;
  clear: both;
}

.location p {
  font-size: 1.3em;
  margin: 1em 0.3em 1em 0.3em;
  text-align: center;
}

.locationmapimg {
  width: 100%;
  margin: 0em;
}
/*Contact*/

.contactus h2 {
  padding-top:1rem;
  padding-bottom:1rem;
  margin:0em;
  background-color: #fee2a5;
  text-align:center;
  font-size:2rem;
}

.contactus p {
  font-size: 1.3em;
  margin: 1em 0em 1em 0em;
  text-align: center;
}

/*hours*/

.hours h2 {
  padding-top:1rem;
  padding-bottom:1rem;
  margin:0em;
  background-color: lightgrey;
  text-align:center;
  font-size:2rem;
  bottom:4rem;
}

.hours p {
  font-size: 1.3em;
  margin: 1em 0.3em 2em 0.3em;
  text-align: center;
}

/*-----------footer*/

.logo2 {
  float: right;
  width: 50%;
  padding: 0em;
  margin: 0em;
  position: relative;
  bottom: 125px;
}

footer h1{
  background-image: url("../img/checkerbanner.jpg");
  padding-top:8rem;
  width:100%;
  margin: 0.5em 0em 0em 0em;
}
